@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-bgMain:#F6E6BB;
  --color-secondary:#41915B;
  --color-navbar:#E3D7B5;
  --color-bgcream: #87A35D;
  --color-accent: #57804F;
  --color-text-green: #596756;
  --color-text-brown: #96795C;
  --color-yellow:#F6E8A1;
  /* Font Families */
  --font-serif: "Cormorant Garamond", serif;

  /* Border Radius */
  --radius-xl: 1rem;
  --radius-2xl: 1.5rem;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.arrow {
  width: 18px;
  height: 2px;
  background: transparent;
  position: relative;
}

.arrow::before {
  content: "";
  position: absolute;
  top: -4px;
  right: 1px;
  width: 10px;
  height: 10px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  transform: rotate(45deg);
}

.group:hover .arrow {
  background: white;

  transition: all 0.45s cubic-bezier(0.65,0,.076,1);
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}



.animate-scroll-slow {
  animation: scroll 1200s linear infinite;
}

/* Optional: pause on hover */
.animate-scroll:hover,
.animate-scroll-slow:hover {
  animation-play-state: paused;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 150s linear infinite;
}
